.container{
    width: 100%;
    height: fit-content;
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}